<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Muffin" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'Ce petit site a pour objectif de recueillir un maximum d\'informations concernant les compétences de chacun, et de les mettre à disposition pour faciliter les échanges et le partage' %>">
  <meta name="application-name" content="Muffin">
  <meta name="application-url" content="http://muffin.stephane-barale.com">
  <%= favicon_link_tag %>
  <%= favicon_link_tag 'apple-touch-icon-114.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '57x57' %>
  <%= favicon_link_tag 'apple-touch-icon-114.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '114x114' %>
  <%= favicon_link_tag 'apple-touch-icon-144.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '72x72' %>
  <%= favicon_link_tag 'apple-touch-icon-144.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '144x144' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% unless getApplicationStatus == 'maintenance' %>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
<% end %>
<main role="main">
  <%= yield %>
</main>
</body>
</html>
